.contact__title {
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.2;
    color: var(--c-black);
    text-align: center;
    margin-bottom: 70px;
    position: relative;

    &::before {
        content: '';
        display: block;
        background: var(--c-blue);
        width: 40px;
        height: 4px;
        position: absolute;
        bottom: -15px;
        left: calc(53% - 60px);
        z-index: 1;
    }

    &::after {
        content: '';
        display: block;
        background: var(--c-black);
        width: 120px;
        height: 1px;
        position: absolute;
        left: calc(50% - 60px);
        bottom: -14px;


    }
}


.contact {}

.contact__form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    column-gap: 20px;
    background-color: var(--c-white);
    padding: 50px;
    margin-bottom: 70px;
}

.contact__input {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    font-size: 18px;
    width: 600px;
    height: 40px;
    border: 1px solid var(--c-black);
    padding: 5px 10px 5px 10px;
}

.contact__select {
    font-family: inherit;
    font-weight: 400;
    line-height: 1.5;
    font-size: 16px;
    width: 600px;
    height: 40px;
    border: 1px solid var(--c-black);
    padding: 5px 10px 5px 10px;

}

.contact__btn{
    @include btn;
}